/* @import url('clash-display.css'); */
.teko-uniquifier {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .bricolage-grotesque-uniquifier {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Clash Display, sans-serif; */
    
}
body
{
    font-family: "Bricolage Grotesque", sans-serif;
    /* font-family: 'ClashDisplay-Variable',sans-serif; */
    /* font-family: Clash Display, sans-serif; */
    color: #16122A;
    background-color: #FEFDFF;
    overflow-x: hidden;
    margin: 0 20px;
}
button
{
    cursor: pointer;
}

.logo-bg {
    /* border: 1px solid blue; */
    position: relative;
    height:fit-content;
    max-width: 1200px;
    margin: auto;
}
.logo-bg img
{
    z-index: -1;
    width: 1800px;
}
#bg-logo-outline
{
    position: absolute;
    top: 100%;
    right: -40%;
    width: 1200px;
}
#bg-logo
{
    position: absolute;
    top: 100%;
    right: -20%;
    width: 1200px;
}
.gradient
{
    /* border: 1px solid black; */
    position: relative;
    margin: auto;
    /* height: 100px; */
    width: 1300px;
}
.gradient img
{
    /* border: 1px solid red; */
    width: 1500px;
    /* width: 500px; */
    position: absolute;
    top: -300px;
    right: -600px;
    z-index: -1;
}
.container
{
    /* position: relative; */
    max-width: 1200px;
    margin: 60px auto;
}

#nav-logo
{
    width: 100px;
}
header h1
{
    /* font-family: 'Calvier'; */
    font-family: "Teko", sans-serif;

    font-size: 70px;
}
header a
{
    text-decoration: none;
    color: #16122A;
}
header
{
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: center; */
}


.form-container
{
    /* border: 1px solid green; */
    margin-top: 60px;
    max-width: 830px;
    text-align: center;
}
form div label
{
    display: block;
    text-align: left;
}

.user-info
{
    /* border: 1px solid red; */

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    /* padding: 100px; */
}

.user-info div label
{
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-info div
{   
    width: 400px;
}

.user-info div input
{
    width: 100%;
    background-color: transparent;
    border: 1px solid #16122A;
    height: 60px;
    color: #16122A;
    outline: none;
    border-radius: 50px;
    padding-left: 25px;
    font-size: 20px;
}

#send
{
    display: block;
    /* margin: 50px auto 0 auto; */
    background-color: #16122A;
    border: none;
    width: 400px;
    height: 70px;
    border-radius: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #F7EDFF;
    cursor: pointer;
}
/* .login-options
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} */
.login
{
    display: flex;
    gap: 8px;
    flex-direction: column;
    text-align: right;
    width: 400px;
}
.login :where(a,p)
{
    text-decoration: none;
    font-size: 20px;
    color: #16122A;
}
.signup-options h4
{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.options
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 92px;
}
.options button
{
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}
.options button img
{
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
}

@media (width <= 876px)
{
    #bg-logo-outline
    {
        position: absolute;
        top: 0%;
        margin-top: 500px;
        right: -30%;
        width: 700px;
    }
    #bg-logo
    {
        position: absolute;
        top: 0%;
        margin-top: 500px;
        right: -40%;
        width: 700px;
    }
    .user-info div
    {   
        width: 100%;
    }
    #send
    {
        margin: 5px auto;
        width: 100%;
        font-size: 35px;
    }
    .login
    {
        display: flex;
        /* gap: 15px; */
        flex-direction: row;
        text-align: right;
        align-items: center;
        justify-content:space-between   ;
        width: 100%;
    }
    .form-container
    {
        margin: 60px auto;
        max-width: 830px;
    }
    .user-info div label
    {
        font-size: 25px;
    }
}